*{
    margin: 0px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    /* overflow hidden; */
} .nav{
    height: 5rem;
    background-color: rgb(241, 238, 227);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 100%;
    width: 9.375rem;
    background-image: url('logo.png');
    background-size: cover;
    background-color: rgb(241, 238, 227);
    border-radius: 5%;
}
.home{
    font-size: 1.125rem;
    font-weight: 500;
    background-color: rgb(241, 238, 227);
    color: black;
}
.nav_box{
    color: rgb(48, 57, 53);
}
.search_bar{
    height: 3.125rem;
    width: 21.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search{
    height: 2.5rem;
    width: 85%;
    font-size: 1.125rem;
    border: none;
}
.search-icon{
    height: 2.5rem;
    width: 2.1875rem;
    font-size: 1.5625rem;
    color: #0f1111;
    background-color: #febd68;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-top-right-radius:  .25rem;
    border-bottom-right-radius: .25rem;
}
.blog{
    width: 4.375rem;
    color: black;
    text-align: center;
}
.about{
    font-size: .9375rem;
    width: 3.75rem;
    color: black;
    text-align: center;
}
.filter{
    font-size: .9375rem;
    width: 6.25rem;
    color: black;
    text-align: center;
    padding-right: 1.25rem;
}
a{
    text-decoration: none;
}

/* main section */
/* hero section */
.hero{
    min-height: 0rem;
    min-height: 0rem;
    /* height: 5rem; */
    background-image: url('hero.jpg');
    background-size: cover;
    margin-top: .1875rem;
    padding: 17rem 0rem;
}
/* box */
.box{
    min-height: 30.5rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(171, 214, 214, 0.274);
    margin-top: .1875rem;
}  
.common{
    background-color: #FFFFFF;
    margin: .9375rem 0px 0px;
    padding: .9375rem .3125rem;
    text-align: center;
}
.image{
    height: 16.35rem;
    width: 16.35rem;
    cursor: pointer;
}
#carpenter{
    background-image: url('carpenters.jpg');
    background-size: cover;
}
#welder{
    background-image: url('welder.jpeg');
    background-size: cover;
}
#labour{
    background-image: url('labour.jpeg');
    background-size: cover;
}
#potmaker{
    background-image: url('potMaker.webp');
    background-size: cover;
}
#driver{
    background-image: url('driver.jpg');
    background-size: cover;
}
#tailor{
    background-image: url('tailor.jpg');
    background-size: cover;
}
#photographer{
    background-image: url('photographer.jpeg');
    background-size: cover;
}
#cleaner{
    background-image: url('cleaner.jpeg');
    background-size: cover;
}
.common p{
    font: 1.25rem;
}

/* footer */
.foot{
    
    height: 31.25rem;
    background-color: #d0d7de;
}
#backToTop{
    background-color: rgb(222, 234, 222);
    padding: .9375rem;
    text-align: center;
    font-size: .8125rem;
    background-color:fuchsia
}
.foot_panel{
    font-size: .9375rem;
    font-weight: 500;
    margin: 1.875rem,0px,0px,3.125rem;
    padding: 30px;
}
li {
    list-style: none;
    padding: .125rem 0px 0px;
}

/* circle */

.circle_box{
    display: flex;
    justify-content: center;
}
.circle{
    height: 12.5rem;
    width: 12.5rem;
    border-top: .625rem solid red;
    border-right: .625rem solid white;
    border-bottom: .625rem solid pink;
    border-left: .625rem solid wheat;
    border-radius: 50%;
    animation-name: circle;
    animation-duration: .1ms;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

@keyframes circle{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}